p {
  color: green;
  font-family: "Sans-serif", Helvetica;
  font-size: 20px;
}
h1 {
  font-family: "Sans-serif", Helvetica;
  font-size: 40px;
}
iframe {
  padding-bottom: 40px;
  padding-side: 20px;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: row; /* Try changing this to 'column' instead!*/
  gap: 10px;
  padding: 20px;
}

.box {
  flex-basis: 200px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.tbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
}